<launch>

    <master auto="start"/>

    <include file="$(find multi_map_navigation)/launch/setup/mongodb_server.launch">
        <arg name="host" value="localhost"/>
        <arg name="port" value="27017"/>
        <arg name="db_overwrite" value="false"/>
        <arg name="db_location" value="~/Documents/map_store"/>
    </include>

    <group ns = "robot0">

        <!-- <arg name="map_file" default="$(find navigation_demo)/maps/map.yaml"/>
        <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)">
            <param name="frame_id" value="robot0/map" />
        </node> -->

        <arg name="modelName" value="robot0"/>
        <arg name="tf_prefix" value="$(arg modelName)" />

        <arg name="odom_frame_id" default="$(arg tf_prefix)/odom"/>
        <arg name="base_frame_id" default="$(arg tf_prefix)/base_link"/>

        <!-- Launch robot hardware with namespace -->
        <include file="$(find aibot_hw)/launch/chassis_single.launch" >
            <arg name="robot_namespace" value="$(arg modelName)" />
        </include>


        <!-- Launch map_store with MongoDB contents -->
        <include file="$(find multi_map_navigation)/launch/setup/map_store.launch" >
            <param name="frame_id_ref" value="$(arg modelName)/map_store_map" />
        </include>

        <!-- amcl -->
        <node pkg="amcl" type="amcl" name="amcl" output="screen">
            <param name="base_frame_id" value="robot0/base_link"/>
            <param name="odom_frame_id" value="robot0/odom"/>
            <param name="global_frame_id" value="robot0/map" />
            <param name="use_map_topic" value="true" />
            <param name="gui_publish_rate" value="10.0"/>
            <param name="kld_err" value="0.05"/>
            <param name="kld_z" value="0.99"/>
            <param name="laser_lambda_short" value="0.1"/>
            <param name="laser_likelihood_max_dist" value="2.0"/>
            <param name="laser_max_beams" value="60"/>
            <param name="laser_model_type" value="likelihood_field"/>
            <param name="laser_sigma_hit" value="0.2"/>
            <param name="laser_z_hit" value="0.5"/>
            <param name="laser_z_short" value="0.05"/>
            <param name="laser_z_max" value="0.05"/>
            <param name="laser_z_rand" value="0.5"/>
            <param name="max_particles" value="2000"/>
            <param name="min_particles" value="500"/>
            <param name="odom_alpha1" value="0.25"/>
            <param name="odom_alpha2" value="0.25"/>
            <param name="odom_alpha3" value="0.25"/>
            <param name="odom_alpha4" value="0.25"/>
            <param name="odom_alpha5" value="0.1"/>
            <param name="odom_model_type" value="omni"/>
            <param name="recovery_alpha_slow" value="0.001"/>
            <param name="recovery_alpha_fast" value="0.1"/>
            <param name="resample_interval" value="1"/>
            <param name="transform_tolerance" value="1.25"/>
            <param name="update_min_a" value="0.2"/>
            <param name="update_min_d" value="0.2"/>
        </node>

        <!-- Launch elevator manager -->
        <node pkg="multi_map_navigation" type="elevator_manager.py" name="elevator_blast" output="screen"/>

        <!-- move_base -->
        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
            <!-- <remap from="/robot0/map" to="/robot0/map_store_map"/> -->
            <rosparam file="$(find navigation_demo)/param/navigation/costmap_common_params.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find navigation_demo)/param/navigation/costmap_common_params.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find navigation_demo)/param/navigation/local_costmap_params.yaml" command="load" />
            <rosparam file="$(find navigation_demo)/param/navigation/global_costmap_params.yaml" command="load" />
            <rosparam file="$(find navigation_demo)/param/navigation/base_local_planner_default_params.yaml" command="load" />
            <rosparam file="$(find navigation_demo)/param/navigation/move_base_params.yaml" command="load" />

            <param name="global_costmap/global_frame" value="robot0/map"/>
            <param name="global_costmap/robot_base_frame" value="robot0/base_footprint" />
            <param name="local_costmap/global_frame" value="robot0/map"/>
            <param name="local_costmap/robot_base_frame" value="robot0/base_footprint" />
            <param name="scan/topic" value="robot0/scan" />
        </node>

        <!-- Multi-Map Navigation -->
        <node pkg="multi_map_navigation" type="multi_map_navigation_manager.py" name="multi_map_navigation" output="screen">
            <param name="definition_file" value="$(find navigation_demo)/param/multi_map/cfg.yaml" />
            <param name="transition_types" value="elevator_blast" />

            <param name="robot_namespace" value="$(arg modelName)"/>
            <param name="base_frame" value="base_link"/>
        </node>

        <!-- rviz -->
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigation_demo)/rviz/navigation.rviz" />

    </group>

    <!-- Setup RVIZ Mux: -->
    <node name="namespace_mux" pkg="namespace_mux" type="namespace_mux" output="screen">

        <rosparam param="/namespace_mux/robot_namespace_ref">"robot"</rosparam>
        <rosparam param="/namespace_mux/rviz_namespace">"rviz"</rosparam>

        <rosparam param="/namespace_mux/active_bots">[
        "robot0", "robot1"
        ]</rosparam>

        <rosparam param="/namespace_mux/subscribed_topics">[
        "/map_store_map",
        "/odom", 
        "/laser/merged",
        "/laser/scan_back",
        "/laser/scan_front",
        "/move_base/local_costmap/obstacle_layer_footprint/footprint_stamped",
        "/move_base/TrajectoryPlannerROS/local_plan",
        "/move_base/local_costmap/costmap",
        "/move_base/TrajectoryPlannerROS/global_plan",
        "/wormhole_marker",
        "/waiting_area_marker",
        "/particlecloud"
        ]</rosparam>

        <rosparam param="/namespace_mux/published_topics">[
        "/cmd_vel",
        "/initialpose",
        "/move_base_simple/goal",
        "/clicked_point"
        ]</rosparam>

    </node>

    <!-- Setup Fake Map-Frame ID -->
    <node name="fake_tf_broadcaster" pkg="namespace_mux" type="fake_tf_broadcaster" output="screen">

        <rosparam param="/fake_tf_broadcaster/pub_freq">50</rosparam>
        <rosparam param="/fake_tf_broadcaster/input_curr_frame_ids">["robot0/map"]</rosparam>
        <rosparam param="/fake_tf_broadcaster/output_fake_frame_ids">["map"]</rosparam>
        <rosparam param="/fake_tf_broadcaster/output_tf_offset">[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]</rosparam>    

    </node>
    
</launch>
